---
---

$base01: red;
$base02: fuchsia;
$base03: green;
$base04: chocolate;
$base05: cyan;
$base06: moccasin;
$base07: white;
$base08: black;

$alpha: 1/6;

table {
  max-width: 95%;
  margin-left: 5%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 1px solid rgba(darken($base05, 15%), $alpha * 2);
  box-shadow: 0 0 3px rgba(darken($base05, 15%), $alpha);
  &:hover {
    border: 1px solid rgba(darken($base05, 15%), $alpha * 2);
    box-shadow: 0 0 8px rgba(darken($base05, 15%), $alpha);
  }
  thead tr th {
    vertical-align: bottom;
    padding: 8px;
    color: rgba(lighten($base05, 30%), $alpha * 5);
    background-color: rgba(darken($base05, 30%), $alpha * 5);
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: rgba(darken($base05, 15%), $alpha * 2);
  }
  tbody tr td {
    vertical-align: middle;
    padding: 8px;
    border: 1px solid rgba(darken($base05, 15%), $alpha * 2);
	&:hover {
      background-color: rgba(darken($base05, 20%), $alpha * 2);
    }
  }
  thead > tr {
    background-color: rgba(darken($base07, 10%), $alpha * 2);
  }
  tbody > tr {
    &:nth-child(2n+1) {
      background-color: rgba(darken($base05, 15%), $alpha);
    }
  }
  tbody tr {
    background-color: rgba(darken($base07, 10%), $alpha);
    &:hover {
      background-color: rgba(darken($base05, 15%), $alpha * 2);
    }
  }
}
