<script>
// header h2~h6 autolink
$(function() {
  return $(" h2,  h3,  h4,  h5,  h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      return $el.prepend($("<a class='header-link' />").attr("href", "#" + id).html(icon));
    }
  });
});
// scroll top
$(window).scroll(function() {if ($(this).scrollTop() > 100) {$('.scroll-top').fadeIn(200); } else {$('.scroll-top').fadeOut(200); } }); $('.scroll-top').bind('click', function(e) {e.preventDefault(); $('body,html').animate({scrollTop: 0 }, 200); });
</script>
<!-- mathjax
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]} });</script>
-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-49864231-1', 'auto');
  ga('send', 'pageview');
</script>